<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.qnd.pithyblog.dao.CategoryMapper" >
<!--    查询分类数量-->
    <select id="selectCategoryNum" resultType="java.lang.Integer">
        select count(*) from Category
    </select>
<!--    查询index页面10个分类-->
    <select id="selectCategory" resultType="map">
        select Category.name, count(Article.id) as num from Category,Article where Category.name=Article.category order by count(Article.id) limit #{index},10
    </select>
    <insert id="insertCategory">
        insert into Category(name values #(name))
    </insert>
    <update id="updateCategory">
        update into Category(name values #(name))
    </update>
    <delete id="deleteCategory">
        delete from Category where name =#{name};
    </delete>
</mapper>