<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qnd.pithyblog.dao.LabelMapper" >
    <select id="selectAllLabel" resultType="map">
        select label,count(article) as num from A_L group by label order by rand()
    </select>
    <insert id="insertLabel">
        insert into Label(name values #(name))
    </insert>
    <update id="updateLabel">
        update into Label(name values #(name))
    </update>
    <delete id="deleteLabel">
        delete from Lable where name =#{name};
    </delete>
</mapper>